<div class="enTete d-flex justify-content-between">
    <h2>Création de votre compte</h2>
    <p><a routerLink="">Home</a> / <a routerLink="/creation">Création de Compte</a></p>
</div>
<hr>
<form #monForm=ngForm class="d-flex flex-wrap justify-content-center" (ngSubmit)=addPersonne()>
    <label for="nomPersonne">
        Nom :
    </label>
    <input id="nom" type="text" name="nomPersonne" [(ngModel)]="personne.nomPersonne" required #nomPersonne=ngModel>
    <label for="prenom">
        Prénom :
    </label>
    <input id="prenom" type="text" name="prenomPersonne" [(ngModel)]="personne.prenomPersonne">
    <label for="email">
        E-Mail :
    </label>
    <input id="email" type="text" name="emailPersonne" [(ngModel)]="personne.emailPersonne">
    <label for="mdp">
        Mot de passe :
    </label>
    <input id="mdp" type="password" name="mdpPersonne" [(ngModel)]="personne.mdpPersonne">
    <p>
        En créant votre compte, vous acceptez nos conditions & politique de confidentialité.
    </p>
    <button class="bg-success">Valider</button>
</form>
