<div class="enTete d-flex justify-content-between">
    <h2>Création de votre compte</h2>
    <p>Home / Connexion / Création de Compte</p>
</div>
<hr>
<form class="d-flex flex-wrap justify-content-center" action="">
    <label for="nom">
        Nom :
    </label>
    <input id="nom" type="text" name="nom">
    <label for="prenom">
        Prénom :
    </label>
    <input id="prenom" type="text" name="prenom">
    <label for="email">
        E-Mail :
    </label>
    <input id="email" type="text" name="email">
    <label for="mdp">
        Mot de passe :
    </label>
    <input id="mdp" type="text" name="mdp">
    <p>
        En créant votre compte, vous acceptez nos conditions & politique de confidentialité.
    </p>
    <button class="bg-success">Valider</button>
</form>
