<h2>Détail article</h2>
<hr>
<div class="bookDetails d-flex flex-wrap justify-content-center">
    <div id="bookImage">
        <figure>
            <img src={{article.imageArticle}} alt="" >
        </figure>
    </div>
    <div id="bookDetails">
        <div id="bookInfo">
            <p>
                <span><span class="souligne">ISBN</span> : </span>{{article.numISBN}}
            </p>
            <p>
                <span><span class="souligne">Résumé</span> : </span><span id="resumeCentre">{{article.resumeArticle}}</span>
            </p>
            <p *ngFor="let auteur of article.auteurs">
                <span><span class="souligne">Auteur</span> : </span><span id="resumeCentre">{{auteur.nomAuteur | titlecase}}</span>
            </p>
            <p>
                <span><span class="souligne">quantité en stock</span> : </span>{{article.qteStock}}
            </p>
            <p>
                <span><span class="souligne">prix</span> : </span>{{(article.puht!).toFixed(2)}} €
            </p>
        </div>
        <div id="bookCommande">
            <p>
                <span><span class="souligne">Quantité</span> :</span>
            </p>
            <input type="number" class="input-quantity" min='1' max='{{article.qteStock}}' [defaultValue]='1' #qte>
            <button class="btn" (click)='ajouterAuPanier(qte.value)'>
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </div>
</div>
