h2 {
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
    color: #ea6a0b;
    margin:0 34px;
    text-align: center;
}
hr {
    height: 2px;
}
#bookImage {
    width: 30%;
}
#bookDetails {
    width: 70%;
}
figure {
    margin: 10%;
}
#bookInfo, #bookCommande {
    margin: 40px;
}
#bookCommande p {
    display: inline-flex;
    width: 90px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.souligne {
    text-decoration: underline;
}
input {
    margin-right: 20px;
    text-align: center;
    border-radius: 7px;
    width:70px;
}
.btn {
    background: transparent;
    border: none;
    color: #fff;
}
i {
    font-size: 1.2em;
    color:#ea6a0b;
}
#resumeCentre {
    display: inline-block;
    text-align: justify;
}