<h2>Votre Commande</h2>
<hr>
<table>
    <thead>
        <td>Article(s)</td>
        <td>Prix Unitaire</td>
        <td>Quantité</td>
        <td>Prix Total</td>
    </thead>
</table>
<div id="detailPanier">
    <table>
        <div *ngFor="let ligne of lignesCommande" class= "articlePanier">
            <tr class="d-flex">
                <td class="d-flex image">
                    <figure>
                        <img src={{ligne.article!.imageArticle}} alt="{{ligne.article!.titreArticle ?? ''}}">
                    </figure>
                    <p>
                        <span><span id="souligne"> Titre</span> : </span>{{ligne.article!.titreArticle ?? ''}}
                    </p>
                </td>
                <td>
                    {{ (ligne.article!.puht ?? 0).toFixed(2)}} €
                </td>
                <td>
                    <input type="number" class="input-quantity" [value]='ligne.qteArticle' min='1' readonly>
                </td>
                <td>
                    {{((ligne.article!.puht ?? 0) * (ligne.qteArticle ?? 0)).toFixed(2)}} €
                </td>
            </tr>
            <hr>
        </div>
    </table>
    <table>
        <tr class="d-flex">
            <td></td>
            <td></td>
            <td>Prix Total TTC à Payer : </td>
            <td>{{(prixTotal).toFixed(2)}} €</td>
        </tr>
    </table>
</div>
<div id="buton" class="d-flex justify-content-center">
    <button class="valPanier" (click)='genererCmd()'>Valider la commande</button>
</div>