*{
    outline: none;
}
header {
    border-bottom: 1px solid #8B8A8F;
    width: 100%;
}
i, i > a {
    color: #ea6a0b;
}
img {
    width: 60%;
}
input {
    padding: 5px 40px 5px 20px;
    border: 1px solid #ea6a0b;
    background-color: #EFF6F3;
}
.loupe {
    position: absolute;
    right: 120px;
}
.gauche, .burger, #firstSearchIcon {
    display: none;
}
.droite {
    width: 30%;
}

@media screen and (max-width: 509px) {
    input, #secondSearchIcon {
        display: none;
    }
    .gauche, .burger, #firstSearchIcon {
        display: block;
    }
    .gauche {
        margin: 5%
    }
}

@media screen and (max-width: 971px) {
    .droite {
        width: 40%;
    }
    input {
        width: 60%;
    }
}