*{
    outline: none;
}

header {
    border-bottom: 1px solid #8B8A8F;
    width: 100%;
}

i, i>a {
    color: #ea6a0b;
}

img {
    width: 60%;
}

input{
    background-color: #EFF6F3;
    border: 1px solid #ea6a0b;
}
.gauche {
    display: none;
}
.fa-bars {
    display: none;
}

#firstSearchIcon {
    display: none;
}

.droite {
    width: 30%;
}

@media screen and (max-width: 509px) {
    input {
        display: none;
    }
    .gauche,.fa-bars,#firstSearchIcon{
        display: block;
    }
    .gauche {
        margin: 5%
    }
    #secondSearchIcon{
        display: none;
    }

}

@media screen and (max-width: 971px) {
    .droite {
        width: 40%;
    }
    input {
        width: 60%;
    }
}