<header class="d-flex justify-content-between align-items-center">
    <div class="gauche">
        <a routerLink='/menu' class="burger">
            <i class="fas fa-bars fa-lg"></i>
        </a>
    </div>
    <div class="milieu d-flex justify-content-center">
        <a class="d-flex" routerLink='/'>
            <figure>
                <img class="logoIB"
                    src="https://media-exp1.licdn.com/dms/image/C4E0BAQFoVKRI1HMkOw/company-logo_200_200/0/1519882245722?e=2159024400&v=beta&t=d8sbFkm6K_rJie2G4_flyxbin8XMUPVVT0zTTM6SFnA"
                    alt="logo d'Ib">
            </figure>
            <p>
                Librairie
            </p>
        </a>
    </div>
    <div class="droite d-flex justify-content-around align-content-center align-self-end">
        <a (click)="stockerRoute('/home')" routerLink='/connexion'>
            <i class="far fa-user fa-lg"></i>
        </a>
        <input (input)='search(toSearch.value)' type="text" placeholder="Recherche" class="rounded-pill" #toSearch>
        <a (click)='search(toSearch2)'>
            <i class="fas fa-search fa-lg loupe"></i>
        </a>
        <a (click)="stockerRoute('/panier')" routerLink='/panier'>
            <i class="fas fa-shopping-cart fa-lg"></i>
        </a>
    </div>
</header>