*{
    outline: none;
}
a {
    text-decoration: none;
    color: #212529;
}
header {
    padding: 20px;
    border-bottom: 1px solid #8B8A8F;
}
.milieu p {
    margin-bottom: 0px;
    padding-top: 25px;
    font-size: clamp(1rem, -0.8750rem + 8.3333vw, 3.5rem);
    color: #8a898e;
    font-style: oblique;
}
i {
    margin: 5px;
    font-size: 1.5em;
    line-height: 36px;
}
i, i > a {
    color: #ea6a0b;
}
figure {
    margin-right: 20px;
    margin-bottom: 0px;
}
img {
    width: clamp(3.125rem, 0.7813rem + 10.4167vw, 6.25rem);
}
input {
    padding: 5px 50px 5px 20px;
    width: 80%;
    border: 1px solid #ea6a0b;
    background-color: #EFF6F3;
}
.droite .fa-search {
    position: absolute;
    right: clamp(6.5rem, 4.4944rem + 5.3393vw, 9.5rem);
}
.milieu {
    width: 60%;
}
.droite {
    padding-bottom: 15px;
    width: 40%;
}
@media screen and (max-width: 719px) {
    input {
        padding: 5px 45px 5px 15px;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    .milieu {
        width: 60%;
    }
    figure {
        margin-right: 10px;
    }
    input {
        display: none;
    }
    .droite {
        padding-bottom: 0px;
    }
    .droite .fa-search {
        position: inherit;
    }
}
@media screen and (max-width: 500px) {
    .droite input {
        display: none;
    }
}