.carrousel {
    margin-bottom: 50px;
}
.slider {
    margin-right: 100px;
    width: 60%;
}
.containerSlider {
    display: flex;
    justify-content: center;
}
.slider img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
h2 {
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
    color: #ea6a0b;
    margin:0 34px;
    text-align: center;
}
hr {
    height: 2px;
}
.rchchLivre {
    width:100%;
}
.home-article {
    margin-bottom: 50px;
    width: 250px;
    color: #fff;
    border-radius: 10px;
    background-color: #ea6a0b;
}
.p {
    text-align: center;
    width: 100%;
}
p:nth-child(1) {
    height: 70px;
}
p:nth-child(2) {
    height: 210px;
}
[id*="Article"] {
    color: #000;
}
#titreArticle {
    width: 100%;
    text-align: center;
}
#resumeArticle {
    text-align: justify;
}
.souligne {
    text-decoration: underline;
}
.home-article-title {
    padding: 15px;
}
.ajoutPanier {
    margin-bottom: 20px;
}
.ajoutPanier input {
    margin-right: 20px;
    text-align: center;
    border-radius: 7px;
    width: 60px;
}
.btn {
    background: transparent;
    border: none;
    color: #fff;
}
i {
    font-size: 1.2em;
}
.ajoutPanier {
    margin-bottom: 20px;
}
.ajoutPanier input {
    margin-right: 20px;
    text-align: center;
    border-radius: 7px;
    width: 60px;
}
.btn {
    background: transparent;
    border: none;
    color: #fff;
}
i {
    font-size: 1.2em;
}
a:link { 
 text-decoration:none; 
}
img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.containerVoirOffre {
    width: 100%;
}
.voir-offres {
    width: 300px;
    height: 50px;
    padding-left: 20px;
    color: #ea6a0b;
    border: 1px solid #ea6a0b;
    border-radius: 30px;
    background: rgba(254, 241, 235, 0.75);
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-level-down-alt {
 color: #ea6a0b;
 transform: rotate(-90deg);
}

.voir-offres:hover{
    color: white;
    border: 1px solid white;
    background: rgba(234, 106, 11, 0.8);
}

.voir-offres:hover .fa-level-down-alt{
    color: white;
}
