<h2>Nouveautés</h2>
<hr>
<div class="category-container">
    <a *ngFor="let livre of livres" [routerLink]='["/detailarticle", livre.refArticle]'>
        <div class='home-article'>
            <img src={{livre.imageArticle}} alt="">
            <div class="home-article-items">
                <div class="home-article-title">
                    <p>Titre: {{livre.titre}}</p>
                    <p>Format: {{livre.format}}</p>
                </div>
                <button><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </a>
    <button class="voir-offres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
</div>

<h2>Meilleures ventes</h2>
<hr>
<div class="category-container">
    <div class="test">
        <a class="test2" *ngFor="let livre of livres" [routerLink]='["/detailarticle", livre.refArticle]'>
            <div class='home-article'>
                <img src={{livre.imageArticle}} alt="">
                <div class="home-article-items">
                    <div class="home-article-title">
                        <p>Titre: {{livre.titre}}</p>
                        <p>Format: {{livre.format}}</p>
                    </div>
                    <button>
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </a>
    </div>

    <button class="voir-offres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
</div>

<h2>Notre Sélection</h2>
<hr>
<div class="category-container">
    <a *ngFor="let livre of livres" [routerLink]='["/detailarticle", livre.refArticle]'>
        <div class='home-article'>
            <img src={{livre.imageArticle}} alt="">
            <div class="home-article-items">
                <div class="home-article-title">
                    <p>Titre: {{livre.titre}}</p>
                    <p>Format: {{livre.format}}</p>
                </div>
                <button><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </a>
    <button class="voir-offres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
</div>