<div class="carrousel">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let article of articles">
            <ng-template class="containerSlider" carouselSlide [id ??]="article.refArticle" ??>
                <a [routerLink]='["/detailarticle", article.refArticle]'>
                    <figure class="slider">
                        <img src={{(article.imageArticle)}} alt="">
                    </figure>
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="categoryContainer">
    <h2>Nouveautés</h2>
    <hr>
    <div class=" d-flex flex-wrap justify-content-around">
        <div *ngFor="let article of nouveautes" class="home-article">
            <a [routerLink]='["/detailarticle", article.refArticle]'>
                <figure class="selectionAccueil">
                    <img src={{article.imageArticle}} alt="{{article.titreArticle}}">
                </figure>
            </a>
            <div class="home-article-items">
                <div class="home-article-title">
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Titre</span> : </span><span id="titreArticle">{{article.titreArticle}}</span>
                    </p>
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Résumé</span> : </span><span id="resumeArticle">{{article.resumeArticle}}</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span id="prix"><span class="souligne">Prix</span> :</span> <span id="prixArticle">{{ (article.puht!).toFixed(2) }} €</span>
                    </p>
                </div>
                <div class="d-flex justify-content-around ajoutPanier">
                    <label>
                        Qté :
                    </label>
                    <input type="number" class="input-quantity" min='1' max='{{article.qteStock}}' [defaultValue]='1' #qte readonly>
                    <button (click)='ajouterAuPanier(article.refArticle ?? 0, qte.value)'>
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lienVoirOffres d-flex justify-content-center">
        <a [routerLink]='["/voir-offres","nouveautés"]'>
            <button class="d-flex justify-content-around align-items-center voirOffres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
        </a>
    </div>
</div>
<div class="categoryContainer">
    <h2>Meilleures ventes</h2>
    <hr>
    <div class=" d-flex flex-wrap justify-content-around">
        <div *ngFor="let article of meilleuresVentes" class='home-article'>
            <a [routerLink]='["/detailarticle", article.refArticle]'>
                <figure class="selectionAccueil">
                    <img src={{article.imageArticle}} alt="{{article.titreArticle}}">
                </figure>
            </a>
            <div class="home-article-items">
                <div class="home-article-title">
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Titre</span> : </span><span id="titreArticle">{{article.titreArticle}}</span>
                    </p>
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Résumé</span> : </span><span id="resumeArticle">{{article.resumeArticle}}</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span id="prix"><span class="souligne">Prix</span> :</span> <span id="prixArticle">{{(article.puht!).toFixed(2)}} €</span>
                    </p>
                </div>
                <div class="d-flex justify-content-around ajoutPanier">
                    <label>
                        Qté :
                    </label>
                    <input type="number" class="input-quantity" min='1' max='{{article.qteStock}}' [defaultValue]='1' #qte readonly>
                    <button (click)='ajouterAuPanier(article.refArticle ?? 0, qte.value)'>
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lienVoirOffres d-flex justify-content-center">
        <a [routerLink]='["/voir-offres","meilleures ventes"]'>
            <button class="d-flex justify-content-around align-items-center voirOffres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
        </a>
    </div>
</div>
<div class="categoryContainer">
    <h2>Notre Sélection</h2>
    <hr>
    <div class=" d-flex flex-wrap justify-content-around">
        <div *ngFor="let article of genreFormation" class='home-article'>
            <a [routerLink]='["/detailarticle", article.refArticle]'>
                <figure class="selectionAccueil">
                    <img src={{article.imageArticle}} alt="{{article.titreArticle}}">
                </figure>
            </a>
            <div class="home-article-items">
                <div class="home-article-title">
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Titre</span> : </span><span id="titreArticle">{{article.titreArticle}}</span>
                    </p>
                    <p class="d-flex flex-wrap">
                        <span class="p"><span class="souligne">Résumé</span> : </span><span id="resumeArticle">{{article.resumeArticle}}</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span id="prix"><span class="souligne">Prix</span> :</span> <span id="prixArticle">{{(article.puht!).toFixed(2)}} €</span>
                    </p>
                </div>
                <div class="d-flex justify-content-around ajoutPanier">
                    <label>
                        Qté :
                    </label>
                    <input type="number" class="input-quantity" min='1' max='{{article.qteStock}}' [defaultValue]='1' #qte readonly>
                    <button (click)='ajouterAuPanier(article.refArticle ?? 0, qte.value)'>
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lienVoirOffres d-flex justify-content-center">
        <a [routerLink]='["/voir-offres","genre formation"]'>
            <button class="d-flex justify-content-around align-items-center voirOffres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
        </a>
    </div>
</div>
