*{
    box-sizing: border-box;
}
app-root {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
app-menu, app-home {
    display: bock;
}
app-header, footer {
    display: flex;
    width: 100%;
}
app-menu {
    display: flex;
    width:30%;
}
app-home {
    display: flex;
    width: 70%;
}
h1{
    text-align: center;
    text-decoration: #8B8A8F underline;
    color: #ea6a0b;
}
@media screen and (max-width: 509px){
    app-menu{
        display: none;
    }
}
footer{
    color: white;
    text-align: center;
    background-color: #ea6a0b;
}
