<div class="masque">
    <input (input)='search(toSearch2.value)' type="search" #toSearch2>
</div>
<h2>Article(s) correspondant(s) à votre recherche "{{toSearch}}"</h2>
<hr>
<div class="category-container d-flex flex-wrap justify-content-center">
    <div *ngFor="let article of articles" class='home-article'>
        <a [routerLink]='["/detailarticle", article.refArticle]'>
            <img src={{article.imageArticle}} alt="">
        </a>
        <div class="home-article-items">
            <div class="home-article-title">
                <p>Titre: {{article.titreArticle}}</p>
                <p>auteurs: {{article.auteurs }}</p>
                <p>Format: {{article.puht}}</p>
            </div>
            <input type="number" class="input-quantity" min='1' max='{{article.qteStock}}' #qte>
            <div class="select-quantity">
            </div>
            <button (click)='ajouterAuPanier(article.refArticle ?? 0, qte.value)'><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
    <button class="voir-offres">Voir toutes les offres <i class="fas fa-level-down-alt"></i> </button>
</div>