<h2>Votre Panier</h2>
<hr>
<table>
    <thead>
        <td>Article(s)</td>
        <td>Prix Unitaire</td>
        <td>Quantité</td>
        <td>Prix Total</td>
        <td> </td>
    </thead>
</table>
<div id="detailPanier">
    <table>
        <div *ngFor="let ligne of ligneArticles" class="articlePanier">
            <tr class="d-flex">
                <td class="d-flex image">
                    <figure>
                        <img src={{ligne.article!.imageArticle}} alt="{{ligne.article!.titreArticle ?? ''}}">
                    </figure>
                    <p>
                        <span><span id="souligne"> Titre</span> : </span>{{ligne.article!.titreArticle ?? ''}}
                    </p>
                </td>
                <td>
                    {{ligne.article!.puht ?? 0}} €
                </td>
                <td>
                    <button class="btn" (click)='augQuantite(ligne.article!.refArticle ?? 0)'>
                        <i class="fas fa-plus"></i>
                    </button>
                    <input type="number" class="input-quantity" [value]='ligne.qteArticle' min='1' readonly>
                    <button class="btn" (click)='dimQuantite(ligne.article!.refArticle ?? 0)'>
                        <i class="fas fa-minus"></i>
                    </button>
                </td>
                <td>
                    {{prixTotalArticle}} €
                </td>
                <td>
                    <i (click)='deleteArticle(ligne.article!.refArticle ?? 0)' class="fas fa-trash-alt"></i>
                </td>
            </tr>
            <hr>
        </div>
    </table>
</div>
<div *ngIf="ligneArticles.length > 0;else contenu_pas_bon">
    <table>
        <tr class="d-flex">
            <td></td>
            <td></td>
            <td>Prix Total TTC à Payer : </td>
            <td>{{prixTotal}} €</td>
            <td></td>
        </tr>
    </table>
    <div id="buton" class="d-flex justify-content-center">
        <button class="valPanier" (click)='genererCmd()'>Valider le panier</button>
    </div>
    
</div>
<ng-template #contenu_pas_bon>Votre panier est vide, <a routerLink="/home">retourner à la page d'acceuil</a> </ng-template>
