.menu {
    width: 100%;
}
h2 {
    text-align: center;
}
a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
li {
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #ea6a0b;
}
button {
    padding: 0;
}