<div class="card" >
    <h5 class="card-title">Menu</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink="">page d'accueil</a>
            </button>
        </li>
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink="menu">menu</a>
            </button>
        </li>
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink='/adresse'>adresse</a>
            </button>
        </li>
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink="/connexion">connexion</a>
            </button>
        </li>
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink="/livre">livre</a>
            </button>
        </li>
        <li class="list-group-item">
            <button class='btn'>
                <a routerLink="/personne">personne</a>
            </button>
        </li>
    </ul>
</div>