#error{
    color: red;
    font-weight: bolder;
}
button.fa-user-plus{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ea6a0b;
}

.fa-user-plus{
    color: #ea6a0b;
}